@inject NavigationManager navigation

<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
   <Found Context="routeData">
      <RouteView RouteData="@routeData" DefaultLayout="@typeof(LayoutMain)" />
   </Found>
   <NotFound>
      <LayoutView Layout="@typeof(LayoutMain)">
         <main class="p-4">
            <ul class="columns is-centered is-vcentered is-mobile" style="min-height: 90vh">
               <li class="column is-narrow" style="width: 400px;">
                  <div class="card">
                     <div class="card-header">
                        <div class="card-header-title is-uppercase is-centered is-size-5">
                          Liên kết không tồn tại
                        </div>
                     </div>
                     <div class="card-content px-4 py-5">
                        <div class="content is-size-6 has-text-weight-medium" style="text-align: center;">
                          Liên kết 
                          <a href="@navigation.Uri">@navigation.Uri</a>
                          <br>
                          Chưa được cấu hình trong hệ thống!
                          <br>
                          Vui lòng cầu hình lại trước nha!
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </main>
      </LayoutView>
   </NotFound>
</Router>